footer {
  background-color: @color-main;
  color: #fff;

  .footer-top {
    padding: 35px 0;
    .location {
      font-size: 18px;
      margin-left: 30px;
      font-weight: 600;
    }
    a {
      color: #fff;
      font-weight: 600;
      &:focus {
        text-decoration: underline;
      }
    }
    i {
      float: left;
      margin: 1px 10px 0px 0;
      font-size: 21px;
      opacity: 0.5;
    }

    .footer-nav {
        list-style: none;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        padding-left: 30px;
        li {
          display: block;
          a {
            font-size: 14px;
          }
        }
    }

  }

  .footer-bottom {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    font-size: 0.7rem;
    background-color: @color-secondary;

    .back-to-top {
      color: #fff;
      position: absolute;
      right: 0;
      i {
        font-size: 3.5em;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media (max-width: 991px) {

      .footer-top {
        .footer-nav {
          border: 0;
          margin-top: 30px;
          position: relative;
          &:before {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
            top: -20px;
            width: auto;
            left: 30px;
            right: 15px;
          }
        }
      }

  } //End MQ

  @media (max-width: 767px) {

    .footer-bottom {
      .rights {
        display: block;
      }
      .back-to-top {
        i {
          font-size: 3em;
        }
      }
    }

  } //End MQ

  @media (min-width: 411px) and (max-width: 575px) {

    .footer-top {
      .location-icon {
        margin-bottom: 30px !important;
      }
    }

  } //End MQ

}
