main {
  padding-top: 80px;
  @media (max-width: 992px) {
    padding-top: 66px;
  }
}

.banner {
  height: 300px;
  display: flex;
  align-items: center;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  background-position: center center;
  &.banner-instalaciones {
    background-position: center bottom;
    background-image: url('../../images/banner_instalaciones.jpg');
  }
  &.banner-nosotros {
    background-image: url('../../images/banner_nosotros.jpg');
  }
  &.banner-servicios {
    background-image: url('../../images/banner_servicios.jpg');
  }
  h2 {
    color: #fff;
    font-family: @secondary-font;
    font-weight: 300;
    font-size: 2.8rem;
    position: relative;
    display: inline-block;
    padding: 20px 30px 20px 0;
    background: rgba(7,64,53,0.6);
    &:before {
      content: '';
      display: block;
      background: rgba(7,64,53,0.6);
      height: 100%;
      left: -300%;
      position: absolute;
      width: 300%;
      top: 0;
    }
  }

  @media (max-width: 991px) {
      padding: 0;
      height: 180px;
      h2 {
        font-size: 2rem;
        text-align: center;
        padding: 15px 15px 15px 0;
      }
  } //End MQ

}

//-------------HOME--------------------------
.home {

  span {
    color: @color-third!important;
    font-size: 30px;
  }

  .carousel {
    height: 600px;

    .carousel-inner {
      height: 600px;
    }

    .carousel-item {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
      .carousel-caption {
        background: rgba(7, 64, 53, 0.6);
        bottom: 12% !important;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 48%;
        max-width: 650px;

        h2 {
          font-size: 3rem;
          font-family: "Lato", sans-serif;
        }

        h5 {
          font-size: 2em;
          font-family: @secondary-font;
          font-weight: 400;
        }

        p {
          margin: 0;
          line-height: 1.3;
        }
      }
    }
  }

  &-heading {

    padding: 60px 0 45px;
    h2 {
      line-height: 1.2;
      margin: 0 auto;
      font-size: 2.2em;
      font-weight: 600;
      position: relative;
    }
    .know-more {
      text-align: center;
      a {
        border: 2px solid @color-main;
        background-color: @color-main;
        color: #fff;
        display: inline-block;
        padding: 10px 20px;
        border-radius: .4em;
        font-weight: 600;
        margin-top: 30px;
        text-transform: capitalize;
        text-decoration: none;
        &:hover {
          background: #fff;
          color: @color-main;
        }
      }
    }

  }

  &-features {
    .features-container {
      margin: 50px 0 70px;
      .item {
        width: 270px;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        figure {
          width: 150px;
          height: 150px;
          border-radius: 100%;
          margin-bottom: 20px;
          padding: 25px;
          border: 2px solid @color-secondary;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        h4 {
          font-weight: 400;
          font-size: 1.35em;
          span {
            color: @color-third;
          }
        }
      }
    }

  }

  @media (max-width: 992px) {

    .carousel {
      height: 300px;
      .carousel-inner {
        height: 300px;
      }
      .carousel-indicators {
          top: 3vw;
          bottom: auto;
      }
      .carousel-item {
        .carousel-caption {
          bottom: 5% !important;
          width: auto;
          left: 15px;
          right: 15px;
          padding: 10px;

          h5 {
            font-size: 1.3em;
          }
          p {
            font-size: 13px;
          }
        }
        &.tank-slide {
          img {
            object-position: center right;
          }
        }
      }
    }

    &-heading {
      padding: 30px 0;
      h2 {
        font-size: 1.5em;
      }
    }

    &-features {
      .features-container {
        .item {
          width: 100%;
          margin: 0 0 30px 0;
          h4 {
            max-width: 90%;
          }
        }
      }
    }

  } //End MQ

}

//--------------INSTALACIONES------------------------
.instalaciones {
  .box-instalaciones {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
    display: flex;
    h2 {
      font-family: @secondary-font;
      margin-bottom: 1rem;
    }
    .lead {
      font-weight: 400;
      font-size: 1.4em;
      span {
        font-weight: 600;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.7;
    }
    &> div {
      position: relative;
      z-index: 2;
    }
    &.bg-green {
      &:before {
        background-color: @color-secondary;
      }
    }
    &.bg-gray {
      &:before {
        background-color: #333;
      }
    }
    &.box-puerto {
      background-image: url('../../images/puerto.jpg');
    }
    &.box-almacenamiento {
      background-image: url('../../images/almacenamiento.jpg');
    }
    &.box-operaciones {
      background-image: url('../../images/area-operaciones.jpg');
    }
    &.box-terreno {
      background-image: url('../../images/terreno.jpg');
    }
  }

  @media (max-width: 992px) {
    .box-instalaciones {
      .lead {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.7rem;
      }
    }

  } //End MQ

  @media (max-width: 767px) {
    .box-instalaciones {
      margin: 15px;
    }
    .row-2 {
      display: flex;
      flex-direction: column;
      .box-terreno {
        order: 0;
        margin-top: 0;
      }
      .box-almacenamiento {
        order: 1;
        margin-top: 0;
      }
    }

  } //End MQ
}

//----------------- SERVICIOS -----------------/
.services {
    margin-bottom: 50px;
    .services-wrapper {
      img {
        border-radius: 15px 15px 0 0;
        max-width: 100%;
      }
      .bg-darker {
        background-color: #e0eae8 !important;
      }
      .bg-light {
        background-color: #efefef !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      p {
        font-size: 20px;
        line-height: 1.8rem;
        max-width: 650px;
      }
      h2 {
        padding-left: 30% !important;
        font-family: @secondary-font;
        font-weight: 300;
      }
      .srv {
        font-size: 19px;
        text-align: left;
        width: 260px;
        margin: 0 auto;
      }
       h3 {
         font-size: 2.3rem;
         font-family: @secondary-font;
         margin-bottom: 1rem;
         font-weight: 400;
       }
    }

    @media (min-width: 768px) {
      .flex-md-equal > *{
        flex:1;
      }
    } //End MQ

    @media (max-width: 767px) {
      .flex-md-equal .bg-light {
        margin: 15px;
      }
      .services-wrapper {
        h3 {
          font-size: 2rem;
        }
        p, .srv {
          font-size: 1rem;
        }
      }

    } //End MQ

  }

//----------------- NOSOTROS -----------------/
.about-us {


  p.text-bigger{font-size: 20px!important}
  p {
    font-size: 18px;
    line-height: 2rem;
    span {
      color: @color-third!important;
      font-size: 30px;
    }
  }

  iframe {
    max-width: 100%;
    border: 0;
  }

  @media screen and (max-width: 767px){
    .col-md-6 {
      margin-bottom: 0;
      margin-top: 10px!important;
      br {
        display: none;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.6rem;
      span {
        font-size: 23px;
      }
    }
  } //End MQ

}
